body, p, h5{
  margin: 0;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pointer{
  cursor: pointer;
}
.btn-send{
  background-color: brown;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}
.btn-send.green{
  background-color: green;
}

section{
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

section div{
  align-items: center;
  display: flex;
}
section div *{
  margin: 0 10px;
  width: 50%;
}

.method div *{
  width: auto;
}
.method div .url{
  flex-grow: 1;
}

.key, .value {
  background-color: white;
  padding: 0 10px;
}
